<!DOCTYPE html>
<head>
<meta charset="utf-8">
<title>Data Charts</title>
 {% include "tab.html" %}
<link rel="stylesheet" type="text/css" href="static/graphstyle.css">
</head>
<body>
<script src="http://d3js.org/d3.v3.js"></script>
<script type="text/javascript" src="static/graph.js"></script>
<select onchange="Update()"  id="dropdown" style="margin-right: 10px;">
            
           
            <option> data copy </option>
            <option> data copy 2</option>
            <option> Athens</option>
            <option> Crockett</option>
            <option> Dailville</option>
            <option> 2014</option>
            <option> 2013</option>
            <option> 2012</option>
            <option> 2011</option>
            <option> 2010</option>
            <option> 2009</option>
            <option> 2008</option>
            <option> 2007</option>
            <option> 2000</option>
        </select>

</html>