<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  <header>
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand"><a class="title" href="/">Texas Groundwater</a></div>
          <nav>
          <ul>
            <!--<a href="/about.html">about</a>
            <a href="/people.html">people</a>-->
            <a href="/visualisation">visualisation</a>
            <a href="/graph">graphs</a>
            <a href="/prediction-wizard">prediction wizard</a>
          </ul>
        </nav>
        </div>
      </div>
    </div>
</header>
  
 <footer>
      <p class="subtitle is-5 has text-centered">Created by Cooperative Agricultural Research Center,Copyright &copy; 2018 </p>
</footer>
       